<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>新增奖项</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <style media="screen">
        .content {
            width: 50%;
            margin: 0 auto;
        }

        .title {
            color: rgb(7, 17, 27);
        }

        .fromConten {
            margin-top: 40px;
        }

        .imgFile {
            width: 60%;
            left: 0;
            top: 0;
        }

        .label {
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            padding: 20px 0;
        }

        .imgInput {
            position: absolute;
            display: block;
            opacity: 0;
            width: 200px;
            height: 20px;
            padding: 4px 10px;
            left: 0;
            top: 0;
        }

        .upload {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 4px 10px;
            width: 200px;
            height: 20px;
            line-height: 20px;
            border: 1px solid #999;
            text-decoration: none;
            color: #666;
        }

        .buttom {
            display: inline-block;
            width: 222px;
            height: 30px;
            line-height: 20px;
            border: 1px solid #999;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="title">
            <h1>新增奖项demo</h1>
            <%if(success===1){%>
                <h2>新增成功！</h2>
                <%}%>
            <%if(success===2){%>
                <h2>选择文件不能为空！</h2>
                <%}%>
        </div>
        <div class="fromConten">
            <form method="post" enctype="multipart/form-data">
                <div class="info">  
                </div>
                <div class="imgFile">
                    <label class="label">年度:</label>
                    <input type='text' name="year" id="year">
                    <label class="label">类别:</label>
                    <input type='text' name="item" id="item">
                    <label class="label">项目:</label>
                    <input type='text' name="detail" id="detail">
                    <input type="submit" class="buttom" value="新增">
                </div>
            </form>
        </div>
    </div>
<a href='/year'>返回</a>
</body>
</html>
<script>
    $(document).ready(function() {
        $(".buttom").on('click',function() {
            $.ajax({
                url:'/newp',
                type:'post',
                data:{
                    year:$('#year').val(),
                    item:$('#item').val(),
                    detail:$('#detail').val()
                    }
                    ,
                success:function(res){
                    console.log(res);
                }
            });
        });
    });
</script>