<ul class="layui-nav layui-nav-tree" lay-filter="test" style="width:100%">
  <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">奖项管理</a>
    <dl class="layui-nav-child">
      <dd>
        <a href="/manage/getPerizeAdd">&nbsp&nbsp得奖编辑</a>
      </dd>
<!--       <dd>
        <a href="">&nbsp&nbsp所有得奖</a>
      </dd> -->
      <dd>
        <a href="/manage/addPrize">&nbsp&nbsp新增奖项</a>
      </dd>
<!--       <dd>
        <a href="">&nbsp&nbsp所有奖项</a>
      </dd> -->
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">部门管理</a>
    <dl class="layui-nav-child">
      <dd>
        <a href="/manage/addDepartment">&nbsp&nbsp新增部门</a>
      </dd>
<!--       <dd>
        <a href="">&nbsp&nbsp所有部门</a>
      </dd> -->
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">人员管理</a>
    <dl class="layui-nav-child">
      <dd>
        <a href="/manage/personAdd">&nbsp&nbsp新增人员</a>
      </dd>
      <dd>
        <a href="/manage/personEidt">&nbsp&nbsp编辑人员</a>
      </dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">屏幕管理</a>
    <dl class="layui-nav-child">
      <dd>
        <a href="/manage/screenSet">&nbsp&nbsp屏幕设置</a>
      </dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="/show">展示平台</a>
  </li>
</ul>