<!DOCTYPE html>
<html>
<head>
	<title>展示平台</title>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css"/>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
</head>
<body>
	<div class="show-background">
		<img src="/image/background.jpg" alt="">
		<!-- 		<img src="http://img.article.pchome.net/00/38/30/63/pic_lib/wm/chuangyi017.jpg" alt=""> -->
	</div>
	<div id="show-container">
		<div class="show-main">
			<div class="show-title">
				<h1>网安支队历年立功授奖情况</h1>
			</div>
			<div class="show-content">
				<div class="show-logo">
					<img src="/image/logo.png" alt="">
				</div>
				<div class="show-show">