				</div>
			</div>
		</div>
	</div>
	<script src="/libs/layui/layui.all.js"></script>
	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/slick-carousel/slick/slick.min.js"></script>
	<script type="text/javascript" src="/javascripts/slickset.js"></script>
</body>
</html>